body {
    font-family: Sans-Serif;
}

div{
    border: solid;
    background-image: linear-gradient(rgb(229, 240, 230), rgb(187, 238, 193));
    padding: 10px;
    border-radius: 10px;
}

p{
    background-color: rgb(235, 250, 235);
    border-radius: 5px;
    padding: 20px;
    line-height: 1.5;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    background-image: linear-gradient(rgb(182, 214, 187), rgb(173, 221, 179));
    border-radius: 5px;
    padding: 8px;
}

