body {
    font-family: Sans-Serif;
    background-color: rgb(31, 30, 28);
}

div{
    background-image: linear-gradient(rgb(21, 78, 23), rgb(186, 204, 185));

    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h1{
    background-color: rgb(95, 173, 114);

    border-radius: 5px;
    width: 24%;
    padding: 4px;
    padding-left: 8px;
}

img{
    width: 25%;
}

